@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}
*:not(i) {
	font-family: "Poppins", sans-serif;
}

:root {
	--background-color: #f1f1f1;
	--base-text-color: #323232;
}

html {
	font-family: "Poppins", sans-serif;
}

body {
	background: var(--background-color);
	color: var(--base-text-color);
}

hr {
	width: 400px;
    margin: 10px auto;
}

h1 {
	text-align: center;
	padding-top: 70px;
    color: var(--base-text-color);
}

.contenu {
	padding: 50px 10%;
	text-align: justify;
    color: var(--base-text-color);
}