@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/**Import Files must be first in CSS3...*/
/**I have no idea why but font won't apply unless placed here*/

*,::before,::after { 
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
    --glass-color1: rgba(255, 255, 255, 0.06);
}


body {
    background-color: #050510;
}

.wrapper {
    
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
}
.container{
    
    width: 100%;
    padding: 50px 30px;
    background-color: var(--glass-color1);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);

}
.shape-1{

    height: 220px;
    width: 220px;
    background: linear-gradient(
        #ff0e72,
        #ff66a6
    );
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: -1;
}
.shape-2{
    
    height: 180px;
    width: 180px;
    background: linear-gradient(
        #3da5e0,
        #325ea5
    );
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: -1;
}

.container * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

h2{
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.skill:not(:last-child){
    margin-bottom: 30px;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar {
    position: relative;
    background-color: var(--glass-color1);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.bar div {
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28, 151, 152, 0.6);
}

#tactics-bar {
    animation: tactics-fill 2s forwards
}

@keyframes tactics-fill {
    100% {
        width: 90%;
    }
}

#speed-bar {
    animation: speed-fill 2s forwards
}

@keyframes speed-fill {
    100% {
        width: 94%;
    }
}

#strategy-bar {
    animation: strat-fill 2s forwards
}

@keyframes strat-fill {
    100% {
        width: 53%;
    }
}

#understanding-bar {
    animation: understand-fill 2s forwards
}

@keyframes understand-fill {
    100% {
        width: 76%;
    }
}